<section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-loop="true" data-autoplay="5000" >
  <swiper [config]="config">
      <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('assets/c1.jpg')">
      
           
          </div>
              <div class="swiper-slide"  style="background-image: url('assets/abt.jpg')">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-right " style="max-width: 700px; top: 26.5px;">
                    <h2 class="test" >Team of Experts</h2>

                    <div class="slider-button"style="">
                      <button type="button" class="btn btn-danger">Know More</button>
                    </div>
                    
                    </div>
                    </div>
              </div>
              <div class="swiper-slide"  style="background-image: url('assets/onc2.jpg')">Slide 3</div>

              
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <!-- <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div> -->
      </swiper>  
</section>

<section class="slide-images"  style="margin-bottom: 0px;MARGIN-TOP:77PX;">
    <div class="container">
      <div class="row">
  
          <div id="owl-demo" class="owl-carousel owl-theme">
              
      <div class="item">
          <div class="item1 ">
              <div class="dep-image">
                <a  rel="noopener">
                  <span class="image-owl">
                      <i class="far fa-image"></i>
                  </span>
                 
                  <!-- <img src="assets/picture.png" alt="hospital">  -->
                </a>
              </div>
              <div class="dep-text">
                  <h6 class="car-text" style="font-weight: 600; height: 35px;">
                    <a  rel="noopener">Gallery</a>
                  </h6>
                </div>
      </div>
      </div>
      <div class="item">
          <div class="item2 ">
              <div class="dep-image ">
                <a  rel="noopener">
                  <span class="image-owl">
                      <i class="fas fa-user-md"></i>
                </span>
                  <!-- <img src="assets/doctor.png" alt="hospital">  -->
                </a>
                
              </div>
              <div class="dep-text">
                <h6 class="car-text" style="font-weight: 600; height: 35px;">
                  <a  rel="noopener">Doctors</a>
                </h6>
              </div>
            </div>
      </div>
    
        <div class="item">
          <div class="item3 ">
              <div class="dep-image">
                <a  href="#" target="_blank" rel="noopener">
                    <span class="image-owl">
                      <i class="fab fa-speakap"></i>                    </span>
                    <!-- <img src="assets/conversation.png" style="width: 75%" alt="hospital">  -->
                    <!-- <div class="overlay">The content to be displayed on :hover</div> -->
                </a>
               
                
              </div>
              <div class="dep-text">
                <h6 class="car-text" style="font-weight: 600; height: 35px;">
                    Patient Speaks
                </h6>
              </div>
           
            </div>
      </div>
      <div class="item">
          <div class="item4 ">
              <div class="dep-image">
                <a href="#" target="_blank" rel="noopener">
                  <!-- <img src="assets/balance.png" alt="hospital">  -->
                  <span class="image-owl">
                    <i class="fas fa-balance-scale"></i>                  </span>
                </a>
              </div>
              <div class="dep-text">
                <h6 class="car-text" style="font-weight: 600; height: 35px;">
                  <a  rel="noopener">Myth Buster</a>
                </h6>
              </div>
            </div>
      </div>
      <div class="item">
          <div class="item5 ">
              <div class="dep-image">
                <a  rel="noopener">
                  <!-- <img src="assets/calendar.png" alt="hospital">  -->
                  
                  <span class="image-owl">
                      <i class="far fa-calendar-alt"></i>
                  </span>                </a>
              </div>
              <div class="dep-text">
                <h6 class="car-text" style="font-weight: 600; height: 35px;">
                  <a  rel="noopener">Events</a>
                </h6>
              </div>
            </div>
      </div>
      <div class="owl-dots">
        <div class="owl-dot active"><span></span></div>
        <div class="owl-dot"><span></span></div>
        <div class="owl-dot"><span></span></div>
    </div>
    </div>
      </div>
    </div>
  </section>
  